package main

const (
	seckey      = "security_key"
	facebookid  = "client_id"
	facebooksec = "client_secret"
	githubid    = "client_id"
	githubsec   = "client_secret"
	googleid    = "client_id"
	googlesec   = "client_secret"
)
